.highlight {
    background-color: #FFE854;
    padding: 0;
}

h5 {
    color: #581730;
    margin-left: 20px;
}

h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h3{
    color: #581730;
}