.page-heading {
    padding-left: 15%;
    padding-bottom: 20px;
    font-weight: bold;
}

.model-homepage-content {
    display: flex;
    flex-direction: column;
}

.model-homepage {
    padding: 10px;
}

.model-homepage-content label, .model-homepage-content input{
    width: 100%;
    outline: none;
}

.model-homepage-content-col .sliders{
    display: flex;
    flex-direction: row;
}

.model-homepage-content-col .sliders> *{
    margin-left: 20px;
    margin-right: 20px;
}

/* Dropdown Menu */

.icon {
    height: 20px;
}

.filters > * {
    flex-grow: 1;
    padding: 5px;
    width: 100%;
}

.filters .dropdown{
    width: 100%;
}

.filters .dropdown-toggle{
    background-color: white !important;
    border-color: #581730 !important;
    color: #581730 !important;
    text-align: left;
    width: 100%;
}

.dropdown-toggle::after {
    float: right;
    transform: translateY(10px);
}

.filters .dropdown-toggle:focus{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 140, 139, 255) !important;
}

.filters .dropdown-item:active{
    background-color: #BFDEDD;
}

.filters .dropdown-menu a{
    color: #581730;
}

.filters form{
    border-color: #581730;
}

.filters form input{
    box-sizing: border-box;    
}

.postcode {
    height: 50px;
}

.filters h5{
    color: #581730;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.model-homepage-content-col {
    text-align: center;
    display: grid;
    width: 100%;
}

.spinner-border {
    margin: 25px;
    height: 3rem !important;
    width: 3rem !important;
}

.cards-container {
    text-align: center;
}

.cards-container h3 h5 {
    text-align: left !important;
    margin-left: 0;
}

.css-2b097c-container{
    width: 100%;
}

.css-14jk2my-container{
    width: 100%;
}

.css-yk16xz-control:active{
    box-shadow: none !important;
    outline: none !important;
}

.css-10ku62j {
    color:white !important;
}

.filters h5{
    color: #581730;
    margin-bottom: 0px !important;
}

.submit-button {
    width: 100%;
}

.filters input[type=text], input[type=text]::placeholder{
    color: #581730;
}

.filters input[type=text]::placeholder{
    color: #84747B;
}

.filters input:focus{
    outline-color: #528C8B;
}

.sort-button-group {
    text-align: center !important;
    width: 100%;
}

.sort-button-group > * {
    z-index: 0 !important;
    width: 100%;
}

.postcode{
    width: 100%;
}

input:focus {
    outline:none !important;
}

.results-compare{
    padding-top: 10px;
}

.results-compare > *{
    padding-right: 10px;
}

/* End Dropdown Menu */

/* Cards */


.single-card {
    display: inline-block;
    background-color: #966a7d;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    width: 350px;
}

a.single-card,
a.single-card:hover {
  text-decoration: none;
}

.card-image {
    border-color: #ffffff;
    border-width: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 200px;
    object-fit: scale-down;
}

.card-text h3{
    font-size: 20px;
}

.card-text {
    background-color: #ffffff;
    color: #591f34;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* End Cards */

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
}

.page-item a{
    color: #581730 !important;
}

.page-item span{
    color: #966a7d !important;
}

.page-link:hover{
    background-color: #bfd9d9 !important;
}

.page-item.active .page-link{
    background-color: #bfd9d9 !important;
    border-color: #966a7d !important;
    color: #581730 !important;
}

.page-link{
    border: 1px solid #966a7d !important;
}

.page-item a:focus{
    box-shadow: none !important;
}

/* End Pagination */

@media screen and (min-width: 700px){
    .single-card {
        width: 30%;
    }

    .card-image {
        height: 300px;
    }
}

@media screen and (min-width: 1350px){
    .model-homepage-content {
        flex-direction: row;
    }

    .model-homepage-content-col{
        display: flex;
        flex-direction: column;
    }

    .model-homepage-content input[type=text] {
        width: 200px;
        margin-top: 10px;
    }

    .model-homepage-content-col .sliders .slider2{
        width: 200px;
    }

    .filters > * {
        text-align: left;
        width: 250px;
    }

    .filters .dropdown{
        width: 300px;
    }

    .filters .dropdown-toggle{
        width: 100%;
    }

    .single-card {
        max-width: 350px;
    }
}