.model-instancepage {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.image-gallery {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

iframe{
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 360px;
}

h1 {
    text-align: center;
}

p {
    color: #581730;
    text-align: center;
}

.mapMedia {
    margin-bottom: 20px;
}

.logo {
    padding: 2px;
    height: 60px;
    display: block;
}

.instancepage-text {
    flex-grow: 2;
    padding: 10px;
    color: #581730;
}

.instancepage-text a, .instancepage-text a:hover{
    color: #FAA851;
}

@media screen and (min-width: 950px){
    .model-instancepage {
        flex-direction: row;
    }

    .instancepage-imagevideo{
        padding-right: 10px;
    }

    .image-gallery{
        width: 640px;
    }

    h1 {
        text-align: left;
    }
    
    .instancepage-text p{
        text-align: left;
    }
}