.model-instancepage {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.instancepage-image {
    border-radius: 5px;
    flex-grow: 3;
    flex-direction: row;
}

.image-gallery {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.instancepage-image p {
    color: #581730;
    text-align: center;
}

.mapMedia {
    margin-bottom: 20px;
}

.logo {
    padding: 2px;
    height: 60px;
    display: block;
}

.instancepage-text {
    flex-grow: 2;
    padding: 10px;
    color: #581730;
}

.instancepage-text a, .instancepage-text a:hover{
    color: #FAA851;
}

@media screen and (min-width: 1350px){
    .model-instancepage {
        flex-direction: row;
    }

    .instancepage-image {
        max-width: 500px;
        flex-direction: column;
    }

    .image-gallery{
        width: 480px;
    }
}