@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html{
  margin:0;
  padding:0;
  max-height:100vh;
}

body {
  height: 100%;
}

.App {
  font-family: 'Open Sans', sans-serif;
}