/* Mobile View */

.navbar{
  flex-direction: column;
  width: 100%;
}

.Logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5% 0px 5% 0px ;
}

.Logo img{
  width: 40%;
}

.Logo h1{
  margin: auto 0 auto 10px;
  color: #FAA851;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.form-group{
  width: 90vw;
  margin: 0 auto;
}

.form-control {
  box-shadow: none !important;
  color: #D3D3D3;
  border: 1px solid #D3D3D3;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

li{
  text-decoration: none;
}

.nav-link{
  color: #581730;
  font-weight: bold;
  font-size: min(2vw, 15px);
  margin-left: 8px;
}

.nav-link:hover{
  color: #528C8B;
}

.shapeOne{
  width: 85vw;
  position: absolute;
  z-index: -1;
  margin-top: 60px;
}

.personOne{
  position: relative;
  z-index: 1;
  width: 23vw;
  margin-top: -10px;
  margin-left: 50px;
}

.personTwo{
  position: relative;
  z-index: 1;
  width: 30vw;
  margin-left: 15vw;
  margin-top: 30vw;
}

.frontPageInfo h1{
  text-align: center;
  padding-top: 60px;
  font-weight: bold;
  color: #581730;
}

.frontPageInfo h2{
  text-align: center;
  color: #FAA851;
  margin-top: -5px;
}

.frontPageInfo p{
  text-align: center;
  width: 65%;
  margin: 0 auto;
  margin-top: 15px;
  line-height: 18px;
  font-size: 15px;
  color: #528C8B;
}

.frontPageInfo .paw{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* End Mobile View */


/* Desktop View */

@media screen and (min-width: 700px){
  .shapeOne{
    margin-top: 70px;
  }
}

@media screen and (min-width: 900px){
  .shapeOne{
    margin-top: 90px;
  }
}

@media screen and (min-width: 1350px){

.navbar{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.Logo{
  align-self: flex-start;
  width: 250px;
}

.Logo img{
  width: 30%;
}

.Logo h1{
  font-size: 25px;
}

.form-group {
  width: 100%;
  flex-grow: 1;
}

.searchbar > form-group {
  padding: 5% 0px 5% 0px;
}

nav{
  flex-grow: 2;
}

ul{
  justify-content: flex-end;
  margin-right: 20px;
}

.nav-link{
  font-size: 12px;
}

.shapeOne{
  width: 850px;
  margin-top: 150px;
}

.personOne{
  width: 200px;
  margin-top: 50px;
  margin-left: 130px;
}

.personTwo{
  width: 300px;
  margin-left: 120px;
  margin-top: 350px;
}

.frontPageInfo{
  position: absolute;
  top: 130px;
  right: 10vw;
  display: flex;
  flex-direction: column;
}

.frontPageInfo h1{
  position: relative;
  font-size: 3vw;
}

.frontPageInfo h2{
  position: relative;
  font-size: 2.5vw;
}

.frontPageInfo p{
  position: relative;
  width: 26vw;
  font-size: 1.2vw;
  line-height: 1.5vw;
}

}