img {
    margin: 3px;
    border-radius: 5px;
}

h3 {
    margin-left: 10px;
}

.viz {
    margin: 10px;
}

.main-img {
    width: 100%;
}

.bordered {
    border: 2px solid #581730;
}

.stacked-img img {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image-section {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.image-section > img {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.reduced {
    width: 70%;
    height: 70%;
}

.divider {
    width: 95%;
    height: 4px;
    margin: 0 auto;
    background-color: #FAA851;
}

h6 {
    color: #581730;
    text-align: center;
}
